html, button, input, select, textarea{
    color: rgb(0, 0, 0);
}
html{
    font-size: 1em;
    line-height: 1.4;
    min-width: 320px;
}
img{
    width: 5cm;
    height: 5cm;
    float: right;
    border: #ccc 1px;
    margin-right: 50px;
    
}
button{
    background-color: rgb(68, 128, 207);
    color: white;
}

#wrapper{
    max-width : 900px;
    
    margin-left : auto;
    margin-right: auto;
    font-size: 16px;
    font-family: 'Source sans Pro';
    background-color: #afafaf;
}
#panel1 {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: auto;
  }
  
  #panel1{
    display: none;
  }
  #panel2{
    display: none;
  }
  #panel3{
    display: none;
  }
  #panel4{
    display: none;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    font-size: 10px;
    visibility: hidden;
    width: 120px;
    background-color: rgb(68, 128, 207);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(212, 182, 9) transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }